body {
    position: relative;
    min-height: 95%;
    width: 70%;
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 15px;
}

hr {
    border: none;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin-top: 50px;
}

.delete-button {
    position: relative;
    float: right;
}

.add-button {
    position: absolute;
    bottom: 10px;
    color: inherit;
}

.add-button:hover {
    text-decoration: none;
    color: inherit;
}

.search-recipes {
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-decoration: none;
    color: inherit;
}

.search-recipes:hover {
    text-decoration: none;
    color: inherit;
}

#container a {
    padding: 5px;
}

.search-box {
    width: 100%;
    resize: none;
    font-size: 20px;
}

.search-box:focus {
    outline: none;
}

.back-button {
    position: absolute;
    bottom: 10px;
}

.add-item-button {
    padding: 5px 20px 5px 20px;
    float: right;
}

.recipe-title {
    margin: 0 auto;
    text-align: center;
    font-family: sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}